echo * text=auto > .gitattributes
echo *.tex text eol=lf >> .gitattributes
echo *.bib text eol=lf >> .gitattributes
echo *.sty text eol=lf >> .gitattributes
echo *.bst text eol=lf >> .gitattributes
echo *.md text eol=lf >> .gitattributes
echo *.py text eol=lf >> .gitattributes
echo *.js text eol=lf >> .gitattributes
echo *.json text eol=lf >> .gitattributes